/* *{
    margin: 0;
    padding: 0;
} */
.container{
    background-image: url("Images/promo-bg.png");
    width: 100%;
    height: 490px;
    margin-top: 40px;

}


.swshdiv{
    margin-left: 15px;
    background-color: green;
    height: 310px;
    margin-top: 20px;
    
}
.swshdiv p{
    color: white;
    font-size: 24px;
    padding: 15px;
}
.pics{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
   
}
.pokemonuniteimg{
    background-color: darkorange;
    height: 490px;
    margin-top: 20px;
   

   
}
.puimg{
    width: 100%;
}   
.fv{
    height: 70px;
   position: relative;
   left: 430px;
   bottom: 43px;
  
     
}
.swsh{
    width: 280px;
    height: 165px;
    
}
.pe{
    margin-left: 15px;
    display: flex;
    margin-top: 20px;
    width: 280px;
}
.petext{
    background-color: royalblue;
    font-size: 24px;
    color: white;
    padding: 20px;
    width: 132px;
}


.pokemonunitetext{
    width: 580px;
    background-color: darkorange;
    margin: 0 auto;
    height: 170px;
}
.para1{
  font-size: 24px;
  padding: 13px;
  color: white;
}
.para2{
    margin-left: 15px;
    
}

/* container1 */
.container1{
    background-image: url("Images/promo-bg.png");
    width: 100%;
    height: 300px;
}
.ge{
   background-color: black;
   margin-top: 40px;
   margin-right: 8px;
   height: 260px;

}
.gep{
    color: white;
    font-size: 24px;
    padding: 20px;
}
.johto-169{
    background-color: goldenrod;
    margin-top: 40px;
    margin-left: 8px;
    margin-right: 8px;
    
}
.johto169p{
    color: white;
    font-size: 24px;
    padding: 20px;
}
.pokemonunite1{
    background-color: purple;
    margin-left: 8px;
    height: 270px;
    margin-top: 20px;
}
.pokemonunite1p{
    color: white;
    font-size: 24px;
    padding: 20px;
}
